.add-product{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    max-width: 800px;
    padding: 15px 35px;
    margin: 60px 57px;
    border-radius: 6px;
    background: white;
   
}

.add-product h1{
    display: flex;
    align-items: center;
    justify-content:center;
    color: #7b7b7b;
}
.add-product-item-field{
    width: 100%;
    color:#7b7b7b;
    font-size: 16px;
}
.add-product-item-field p{ 
    margin-bottom: 5px;
}
.add-product-item-field input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    font-size: 16px;
    color: #7b7b7b;
    font-family: 'poppins';
    font-size: 14px;
}
.add-product-item-field input::placeholder {
    color: #d6d6d6;
}
.add-product-price{
    display: flex;
    gap: 40px;
}
.add-product-selector{
    padding: 5px;
    width: 100px;
    height: 30px;
    font-size: 14px;
    color: #7b7b7b;
    border: 1px solid #c3c3c3;
    outline: none;
    border-radius: 5px;
}
.add-product-thumbnail-img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: 10px 0px;
    cursor: pointer;
  
}
.add-product-btn{
    width: 100px;
    height: 40px;
    background: #ee4141;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: transform 0.3s ease; 
}

.add-product-btn:active {
    transform: scale(0.93); 
}

@media (max-width: 500px) {
    .add-product-price{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .add-product{
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;
        padding: 0px 10px;
        margin: 14px 10px;
        border-radius: 6px;
        background: white;
    }
    .add-product h1{    
        font-size: 20px;
    }
}